// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

// nav css
.navbar {
    display: flex;
}

// home page css
.home-page-box {
    display: flex;
    width: 100vw;
    height: auto;
    background-color: pink;

    // home left & right side css
    .home-left-content-box, .home-right-content-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }

    // home left side css
    .home-left-content-box {
        width: 60%;

        // header box css 
        .home-header-box {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: #fff;

            // main header css
            .main-header {
                font-size: 90px;
                font-family: "Hachi Maru Pop", cursive;
            }
        }

        // home content box 
        .home-content-box {
            width: 80%;
            padding: 10px;
            background-color: #fff;

            // home text box
            .home-text-box {
                font-size: 32px;
              font-family: "Afacad", sans-serif;
            }

            // home btns box
            .home-btns-box {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin-top: 20px;

                // sign up & log in btns css
                #go-to-sign-up-btn, #go-to-log-in-btn {
                    padding: 10px 72px;
                    border-radius: 50px;
                    background-color: #349DD6;
                    font-size: 32px;
                    font-family: "Jua", sans-serif;
                    color: #fff;
                    border: none;
                }
            }
        }
    }

    // home right side css
    .home-right-content-box {
        width: 40%;

        // home 
    }
}
// end home page css