// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

// global reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

