// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

// mixins
@mixin white-box {
    background-color: #fff;
    border-radius: 50px;
    padding: 25px;
    box-shadow: 5px 3px 3px 1px rgba(0,0,0,0.24);
}

@mixin boxed-form-field {
    padding: 8px;
    font-size: 1.625em;
    font-family: 'Afacad', sans-serif;
    border: solid 1px black;
    border-radius: 15px;
    text-indent: 8px;
    box-shadow: 5px 3px 3px 1px rgba(0,0,0,0.24);
}

// global reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// end global reset

// navbar css
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .userInt {
        display: flex;
        align-items: center;

        button {
            margin-left: 15px;
            padding: 10px 22px;
            border-radius: 50px;
            background-color: #349DD6;
            font-size: 2em;
            font-family: "Jua", sans-serif;
            color: #fff;
            border: none;
        }

        button:hover {
            background-color: white;
            border: 2px solid #349DD6;
            color: #349DD6;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        span {
            font-size: 2em;
            font-family: "Jua", sans-serif;
        }
    }
}
// end nav css

// login main box
.login-page-box {
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    // login left and right content boxes css
    .login-left-content-box, .login-right-content-box {
        padding: 25px;
        border-radius: 50px;
    }

    // login left content css
    .login-left-content-box {
        width: 55%;

        // header css
        .header-box {
            display: flex;
            align-items: center;
            justify-content: center;

            @include white-box;

            .main-header {
                font-size: 4.3em;
                font-family: "Hachi Maru Pop", cursive;
            }

            .pawmatch-green-logo {
                width: 75px;
            }

        }
        // end header css

        // login form css
        .login-form-box {
            width: 100%;
            margin-top: 20px;

            @include white-box;

            // login header
            .login-subheader {
                font-size: 52px;
                font-family: 'Jua', sans-serif;
                font-weight: 400;
                text-align: center;
            }

            // login field & labels css
            .login-fields-box {
                margin: 10px;
                display: flex;
                flex-direction: column;

                .form-label {
                    margin-top: 15px;
                    font-family: 'Afacad', sans-serif;
                    font-size: 2em;
                    font-weight: 400;
                }

                .form-field {
                    margin-top: 10px;
                    @include boxed-form-field;
                }

                .error {
                    margin-top: 15px;
                    font-family: 'Afacad', sans-serif;
                    font-size: 1.4em;
                    color: red;
                    text-align: center;
                }

                // login btn box css
                .login-btn-box {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .login-btn {
                        margin-top: 20px;
                        padding: 10px 72px;
                        border-radius: 50px;
                        background-color: #349DD6;
                        font-size: 2em;
                        font-family: "Jua", sans-serif;
                        color: #fff;
                        border: none;
                    }

                    .login-btn:hover {
                        background-color: white;
                        border: 2px solid #349DD6;
                        color: #349DD6;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
        // end login form css

    }
    // end login left content css

    // login right content css
    .login-right-content-box {
        width: 45%;

        .logo-box {
            padding: 35px 65px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include white-box;

            // home main logo
            img {
                object-position: center;
                object-fit: cover;
            }
        }
    }
}
// end of login main box

// footer css
footer {
    margin-top: 20px;
}
// end of footer css

// media queries 
// laptop media queries - min-width 1080px
@media screen and (min-width: 1080px) {
    .logo-box {
       padding: 0;

        // home main logo
        img {
            width: 430px;
            object-position: center;
            object-fit: cover;
        }
    }
}

// end laptop media queries

// tablet media queries - min-width 900px
@media screen and (min-width: 900px) and (max-width: 1079px) {
    .login-page {

        .login-page-box {

            .login-left-content-box, .login-right-content-box {
                padding: 0;
            }

            .login-left-content-box {
                padding-right: 25px;

                .header-box {
                    .main-header {
                        font-size: 3.6em;
                    }
                }

                .login-form-box {
                    width: 100%;
                }
            }
        }
    }

    // home main logo
    img {
        width: 320px;
        object-position: center;
        object-fit: cover;
    }
}

// mobile media queries - min-width 600px
@media screen and (min-width: 600px) and (max-width: 899px) {
    .login-page {
        height: auto;

        .login-page-box {
            flex-direction: column;
            padding: 100px 20px;

            .login-left-content-box, .login-right-content-box {
                width: 100%;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .header-box {
                    width: 80%;

                    .main-header {
                        font-size: 3.6em;
                    }
                }

                #login-form-box {
                    margin-top: 46px;
                    width: 80%;
                }

                .logo-box {
                    margin-top: 50px;
                    width: auto;
                    height: auto;
                    padding: 25px;

                    img {
                        width: 300px;
                    }
                }
            }
        }
    }
}

