//whole card
.listing-card {
    background-color: white;
    width: 800px;
    border-radius: 50px;
    display: flex;
    margin-bottom: 20px;
    border: 3px solid black;
    transition: all 0.3s ease;
    //card image
    .card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        img {
            margin: 10px;
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid black;
        }
    }
    //card text
    .card-info {
        position: relative;
        width: 50%;
        padding: 20px;
        h3 {
            font-size: 3em;
            font-family: "Jua", sans-serif;
        }
        h4 {
            font-size: 2em;
        }
        .card-tags {
            display: flex;
            flex-wrap: wrap;
            .gender-tag {
                margin: 10px;
                border-radius: 50px;
                padding: 10px 20px;
                background-color: #3EC2D9;
            }
            .age-tag {
                margin: 10px;
                border-radius: 50px;
                padding: 10px 20px;
                background-color: #ADD35A;
            }
            .available-tag {
                margin: 10px;
                border-radius: 50px;
                padding: 10px 20px;
                background-color: #7AC898;
            }
        }
        .date {
            position: absolute;
            bottom: 10px;
        }
    }
}
//whole card hover
.listing-card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.3s ease;
    border: 3px solid #7AC898;
}

//tablet
@media screen and (max-width: 900px) {
    .listing-card {
        width: 400px;
        flex-direction: column;
        .card-img {
            width: 100%;
        }
        .card-info {
            width: 100%;
            padding: 20px;
            text-align: center;
            h4 {
                font-size: 1.5em;
            }
            .card-tags {
                justify-content: center;
            }
            .date {
                left: 30%;
            }
        
        }
    }
}

//mobile
@media screen and (max-width: 600px) {
    .listing-card {
        width: 100%;
        margin-top: 20px;
    }    
}