@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Hachi+Maru+Pop&family=Jua&display=swap');

.listing-card {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    border: 3px solid black;
    transition: all 0.3s ease;

    .card-img img {
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid black;
    }

    .card-tags {
        display: flex;
        font-family: "Afacad", sans-serif;
        text-transform: uppercase;

        .gender-tag {
            border-radius: 50px;
            padding: 10px 20px;
            background-color: #3EC2D9;
        }

        .age-tag {
            border-radius: 50px;
            padding: 10px 20px;
            background-color: #ADD35A;
        }

        .available-tag {
            border-radius: 50px;
            padding: 10px 20px;
            background-color: #7AC898;
        }
    }
}

// BIG LAPTOP
@media screen and (min-width: 1080px) {
    .listing-card {
        display: flex;
        align-items: center;
        width: 800px;
        margin-bottom: 6%;

        .card-img {
            width: 60%;

            img {
                width: 80%;
                height: 350px;
            }
        }

        .card-info {

            h3 {
                font-size: 3em;
                font-family: "Jua", sans-serif;
            }
    
            h4 {
                font-size: 2em;
                font-family: "Jua", sans-serif;
            }
    
            .date {
                font-family: "Afacad", sans-serif;
                margin-top: 10px;
            }
    
            .age-tag, .gender-tag, .age-tag {
                margin-right: 10px;
            }

        }
    }

    .listing-card:hover {
        scale: 1.1;
        border: 3px solid #7AC898;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 1080px) {
    .listing-card {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 6%;


        .card-img {
            width: 60%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;

            img {
                width: 90%;
                height: 300px;
            }
        }

        .card-info {
            width: 50%;

            .age-tag, .gender-tag, .age-tag {
                margin-right: 10px;
            }

            h3 {
                font-size: 2.5em;
                font-family: "Jua", sans-serif;
            }

            h4 {
                font-size: 1.5em;
                font-family: "Jua", sans-serif;
            }

            .date {
                font-family: "Afacad", sans-serif;
            }
        }
    }

    .listing-card:hover {
        scale: 1.1;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}

@media screen and (max-width: 900px) {
    .listing-card {
        width: 100%;
        margin: 6% 0%;
      
        .card-img {
            width: 60%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;

            img {
                width: 90%;
                height: 200px;
            }
        }

        .card-info {
            width: 50%;

            .age-tag , .gender-tag , .available-tag {
                margin: 10px 3px;
            }
        }

    }
}

@media screen and (max-width: 600px) {
    .listing-card {
        display: flex;
        flex-direction: column; // column switches the alignments
        align-items: center; //centring horizontally
        margin: 6% 0%;
        width: 100%;

        .card-img {
            width: 40%;

            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }
        }

        .card-info {
            width: 100%;
            text-align: center;

            h3 {
                font-size: 2.5em;
                font-family: "Jua", sans-serif;
            }

            h4 {
                font-size: 1.5em;
                font-family: "Jua", sans-serif;
            }
        }

        .card-tags {
            justify-content: center;
            margin-bottom: 10px;
        }
    }
}