
.navbar {
    background-color: white;
    color: #349DD6;
    padding: 10px;
    margin-bottom: 20px;

    .logo {
        width: 70px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .logo:hover {
        cursor: pointer;
    }

    .userInt {
        display: flex;

        .logout-btn {
            border: 3px solid #349DD6;
            transition: all 0.3s ease;
            font-size: 1.3em;
        }

        .logout-btn:hover {
            background-color: white;
            color: #349DD6;
            transition: all 0.3s ease;
            cursor: pointer;
            border: 3px solid #349DD6;
        }
    }
}