* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('src/images/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Afacad", sans-serif;
}