.seller-home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.page-title {
    background-color: white;
    border-radius: 9px;
    text-align: center;
    box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);

    h1 {
        font-size: 4em;
        font-family: "Hachi Maru Pop", cursive; // import the font
    }
}