.single-listing-page {
    margin-top: 20px;
    .single-page-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        .single-listing-back-btn {
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 50px;
            padding: 10px 20px;
            width: 150px;
            height: 80px;
            font-size: 2em;
            background-color: #349DD6;
            border: 3px solid #349DD6;
            color: white;
            box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            transition: all 0.3s ease;
        }
        .single-listing-back-btn:hover {
            cursor: pointer;
            background-color: white;
            color: #349DD6;
            transition: all 0.3s ease;
        }
        .single-listing-header {
            background-color: white;
            padding: 10px 20px;
            font-size: 3em;
            font-family: "Hachi Maru Pop", cursive;
            border-radius: 50px;
            box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
        }
        .placeholder {
            height: 10px;
            width: 150px;
            margin-right: 20px;
        }
    }
    .single-page-img {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin-bottom: 20px;
        .img {
            height: 400px;
            border-radius: 50px;
            overflow: hidden;
            box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            img {
                height: 405px;
                object-fit: cover;
            }
        }
    }

    .single-page-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 30px;
        .listing-info {
            background-color: white;
            border-radius: 50px;
            padding: 40px;
            box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            h3 {
                font-family: "Hachi Maru Pop", cursive;
                font-size: 2em;
            }
            .listing-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                .gender-tag {
                    margin: 10px;
                    border-radius: 50px;
                    padding: 10px 20px;
                    background-color: #3EC2D9;
                }
                .age-tag{
                    margin: 10px;
                    border-radius: 50px;
                    padding: 10px 20px;
                    background-color: #ADD35A;
                }
                .available-tag {
                    margin: 10px;
                    border-radius: 50px;
                    padding: 10px 20px;
                    background-color: #7AC898;
                }
                .price-tag {
                    margin: 10px;
                    border-radius: 50px;
                    padding: 10px 20px;
                    background-color: #3EC2D9;
                }
                .size-tag {
                    margin: 10px;
                    border-radius: 50px;
                    padding: 10px 20px;
                    background-color: #ADD35A;
                }
                .location-tag {
                    margin: 10px;
                    border-radius: 50px;
                    padding: 10px 20px;
                    background-color: #7AC898;
                }
            }
            h4 {
                font-size: 1.5em;
            }
        }
        .seller-info {
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;
            border-radius: 50px;
            box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
            h3 {
                text-align: center;
                font-size: 1.5em;
                font-family: 'Jua', sans serif;
            }
            button {
                margin-top: 10px;
                font-family: 'Jua', sans serif;
                font-size: 1.5em;
                padding: 10px 20px;
                border: none;
                border-radius: 50px;
                background-color: #349DD6;
                border: 3px solid #349DD6;
                color: white;
                transition: all 0.3s ease;
            }
            button:hover {
                cursor: pointer;
                background-color: white;
                color: #349DD6;
                transition: all 0.3s ease;
            }
        }
    }
    .comments-box {
        margin: 20px 30px 100px 30px;
        border-radius: 50px;
        background-color: white;
        box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
        
        h2 {
            padding: 50px 50px 0px 50px;
            font-size: 3em;
            font-family: 'Jua', sans serif;
        }
        .add-comment {
            position: relative;
            padding: 50px;
            border-bottom: solid 3px black;
            p {
                font-family: 'Jua', sans-serif;
                font-size: 1.5em;
            }
            input {
                width: 100%;
                padding: 20px;
                border-radius: 20px;
                border: 3px solid #7AC898;
            }
            button {
                position: absolute;
                cursor: pointer;
                z-index: 10;
                top: 95px;
                right: 80px;
                background-color: white;
                border: none;
                color: #7AC898;
                font-size: 2em;
            }
            button:hover {
                color: #3f7a56;
            }
        }
        .comments-list {
            padding: 50px;
            .comment {
                border: 3px solid black;
                padding: 30px;
                margin-bottom: 10px;
                border-radius: 30px;
                h3 {
                    font-size: 2em;
                    font-family: 'Jua', sans-serif;
                }
                .comment-text {
                    font-size: 1.5em;
                }
            }
        }
    }
    
}


@media screen and (max-width: 900px) {
    .single-listing-page {
        .single-page-top {
            .single-listing-back-btn {
                width: 120px;
                height: 60px;
                font-size: 1.5em;
            }
            .single-listing-header {
                font-size: 2em;
            }
            .placeholder {
                width: 120px;
            }
        }
        .single-page-info {
            flex-direction: column;
            justify-content: center;
            margin: 0px 20px;
            .listing-info {
                margin-bottom: 20px;
            }
        }
        .comments-box {
            margin: 20px;
           
        } 
    }
}

@media screen and (max-width: 600px) {
    .single-listing-page {
        .single-page-info {
            .listing-info {
                .listing-tags {
                    flex-wrap: wrap;
                }
            }
        } 
    }
}

